<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5680477837-1j6dfu5lhp5iu3hhoac181i3hnkcen24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5680477837-1j6dfu5lhp5iu3hhoac181i3hnkcen24</string>
	<key>API_KEY</key>
	<string>AIzaSyBuQtgIvoWDKpnn2fsaiY-skpwpgv5pdZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>5680477837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheWhizzApp</string>
	<key>PROJECT_ID</key>
	<string>wizusers</string>
	<key>STORAGE_BUCKET</key>
	<string>wizusers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5680477837:ios:8cf7146172b99a092214c4</string>
	<key>DATABASE_URL</key>
	<string>https://wizusers.firebaseio.com</string>
	
</dict>
</plist>